---
const { title = "TE OLVIDAS DEL TITULO BROTHER :0", msg="Hola spike"} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="h-20 bg-orange-400">

		</header>
		<menu class="bg-blue-300 flex">
			<li >
				<a class="hover:bg-white/25 px-2 py-2 block" href="/">Inicio</a>
			</li>
			<li >
				<a class="hover:bg-white/25 px-2 py-2 block" href="/quienes-somos">Quienes Somos</a>
			</li>
			<li >
				<a class="hover:bg-white/25 px-2 py-2 block" href="/organigrama">Organigrama</a>
			</li>
			<li >
				<a class="hover:bg-white/25 px-2 py-2 block" href="/contacto">Contacto</a>
			</li>
			
		</menu>
		<p>Tu mensaje es: {msg}</p>
		<slot />
	</body>
</html>
<style is:global>
	/* Register your custom font family and tell the browser where to find it. */
	@font-face {
  	font-family: 'myfont';
  	src: url('/fonts/Chokokutai-Regular.ttf');
  	font-weight: normal;
  	font-style: normal;
  	font-display: swap;
	}
</style>

